server {
    listen 80;
    listen [::]:80;

    root {{ drupal_site_path }}/web;

    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php$args;
    }

	location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;
        fastcgi_index            index.php;
        fastcgi_pass             127.0.0.1:9000;
        client_max_body_size     200M;
        include                  fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
